study_libtorch/libtorch-shared-with-deps-latest.zip
study_libtorch/libtorch
study_libtorch/build
study_libtorch/build_

study_pybind11/ColaModule.egg-info
study_pybind11/pybid11
study_pybind11/build
study_pybind11/build_

study_pytorch_cmake/build
study_pytorch_cmake/build_

study_pytorch_cuda_extension/build
study_pytorch_cuda_extension/build_

study_pytorch_cuda_extension_framework/build
study_pytorch_cuda_extension_framework/build_


run_git_push.sh